@import "utilities";

#navbar {
    background-color: rgba(66, 134, 244, 0.837);
    padding: 5px 10px;
    padding-left: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-brand{
        display: inline;
        a {
            text-decoration: none;
            color: white;
        }
        h3 {
            font-family: 'Raleway';
            font-size: 25px;
            margin: 0px;
            padding: 0px;
            padding-left: 3px;
        }
        .navbar-item {
            img {
                max-height: 40px;
            }
        }
    }
    a {
        @include center;
    }
}