.pad-top {
  padding-top: 2em;
}

.pad-bottom {
  padding-bottom: 2em;
}

.min-height{
  min-height: 800px;
}

.animationDelay {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -ms-transition-animation-delay: .6s;
}

.fa-music {
  padding-left: 10px;
  padding-right: 10px;
}