.landing-trip-form {
  // background: blue;
  max-width: 500px;
  margin: auto;
  position: relative;
  top: -300px;
}
// #addremove {
//   margin-top: 12px;
// }
@media (min-width: 770px){
  #seperator {
    margin-top: 12px;
  }
}
